html body{
  min-width: 100%;
  max-width: 100%;
  min-height: 100%;
  color: white;
  background-color: #17141f;
  max-height: 100%;
  overflow:hidden;
}

nav{
  width: 100%;
  padding: 0 1%;
  background-color: #6441A4;
  height: 50px;

  ul{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    flex-flow: row;
    align-items: center;
    list-style-type : none;
    justify-content: start;
    margin: 0;
    padding: 0;

    li{
      min-width: 70px;
      padding: 0 1%;
      width: auto;
      a{

        color: white;
        text-decoration: none;
      }
      a:hover{
        color: black;
        text-decoration: none;
      }

      img{
        display: inline;

      }
      h5{
        padding-left: 8px;
        display: inline;
      }
    }

    li:last-child{
      margin-left: auto;
    }

    li:first-child{
      padding: 0;
    }
  }

  img{
    display: inline;
  }
}


.LeftSideBar{
  height: 90.5vh;
  background-color: #17141f;
  flex: 1;
  position: relative;

  div{
    padding: 0 8%;

    hr{
      margin: 0;
    }

    div{
      padding: 0;


      img{
        float: left;
        margin-right: 4%;
      }
      h5, h6{
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

.Content{
  border-left: 1px solid rgb(218, 216, 222);
  flex: 5;
}

.GameContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2%;
  justify-content: space-around;
  //I think this is bad css, but setting the hieght like this
  //Allows for the scolling to happen
  height: 95vh;
  overflow-y: auto;

  // For Flexbox truncating text = https://css-tricks.com/flexbox-truncated-text/
  div{
    flex: 1;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    min-width: 20%;
    padding: 0 3%;
    max-width: 20%;
  }
}

.MoreOrLessContainer{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: flex-start

  h6{
    flex:1;
  }

  h6:hover{
    color: #6441A4;
  }
}

.ShowMore{
  margin-left:auto;
}

.hideText{
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.LeftPaneFormBox{
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 5%;
  background-color: #17141f;
  border-top: 1px solid rgb(218, 216, 222);
  display: flex;
  align-items: center;
  justify-content: center;

  input{
    background-color: #17141f;
  }
}

.UserContentContainer{
  overflow: auto;
  height: 95%;
  width: 100%;
  padding: 0 8%;

}

.PageContainer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}


::-webkit-scrollbar{
  width: 6px;
}

::-webkit-scrollbar-thumb {
    background: rgb(56, 37, 92);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
