#react-container {
  display: block;
  margin: 0;
}

.page-sidebar {
  h1 { 
    color: #FFF;
    margin-top: 0;
  }
  background-color: #4b367c;
  margin: 0;
  height: 100vh;
  grid-area: sidebar;
}

.content {
  grid-area: content;
}
