#react-container {
  display: block;
  margin: 0;
}

.page-sidebar {
  h1 { 
    color: #FFF;
    margin-top: 0;
  }
  background-color: #6441A4;
  margin: 0;
  height: 100vh;
}

.content {
  background-color: gray;
  height: 100vh;
}

.Logo {
  width: 50%;
  height: auto;
  margin: 0 auto;
  padding-top: 10px;
}