#react-container {
  display:flex;
  justify-content: center;

  h1 { color: #696969; }
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

#twitchLogo{
  max-width: 60%;
  padding-top:2%;
  max-height: 10%;
  margin: auto;
}

.userBox{
  max-width: auto;
  max-height: 10%;
}

.userPic{
  width: 60px;
  padding:5px;
}

#searchBox{
  position: fixed;
  min-width: 20%;
  max-width: 20%;
  bottom: 0;
  height: auto;
  margin: auto;
  padding: 1%;
}

.searchField{
  width: 90%;
}

.leftpane{
  max-width:20%;
  min-width:20%;
  background-color: gray;
  height: 100%;
  border-color: black;
  border-style: solid;
  border-collapse: collapse;
  position: fixed;
  left: 0;
}

#userContent{
  position: relative;
  background: rgb(35, 38, 41);
  height: 100%;
}

.textAlign{
  text-align: center;
}

.rightpane{
  position: fixed;
  right: 0;
  top: 0;
  height: 100%;
  width: auto;
  background-color: black;
}

#middlePane{
  position: absolute;
  left: 0;
  background-color: #6441A4;
  min-height: 100%;
  min-width: 80%;
  margin-left: 20%;
  padding:2%;
}

.game{
  // display: inline-block;
  // width: 20%; 
  // height: 20%;
  margin: auto;
  color: gray;
}

.arrowContainer{
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  color:white;
}
