#react-container {
  display:flex;
  justify-content: center;

  h1 { color: #696969; }
}

body{
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

img {
  max-height: 100%;
  height: auto;
}

#twitchLogo{
  width:20%;
}

.leftpane{
  max-width:20%;
  min-width:20%;
  background-color: gray;
  height: 100%;
  border-color: black;
  border-style: solid;
  position: fixed;
  left: 0;
}