#react-container {
  display:flex;
  justify-content: center;

  h1 { color: #696969; }

}

.twitchLogo{
  width: 10%;
  height: 10%;
}
.twitchIcon{
  width: 2.5%;
  height: 2.5%;
}

.leftPanel{
  background-color: #696969;
  width: 25%;
  height: 100%;
}
html{
background-color: purple;
}